In [27]:
# 1. Przygotuj środowisko pracy w relacyjnej bazie danych MS SQL Server, zakładając bazę o nazwie BigData, następnie utwórz tabelę do importowania danych.

import pyodbc
serwer = '153.19.126.136'
database ='n42'
username ='n4211'
password ='n42!!'
driver = '{ODBC Driver 17 for SQL Server}'
polaczenie = pyodbc.connect("DRIVER="+driver+";SERVER="+serwer+";PORT=1433;DATABASE="+database+";UID="+username+";PWD="+password)
kursor = polaczenie.cursor()

In [28]:
wynik = kursor.execute("select top 5 * from Baza$")
for w in wynik:
    print(w)

(930819.0, 7.0, 3.0, 1.0, 43.0, 930819.0, '1993', '08', 'sierpień', '3', 'Kwartał III', '19', '0', '5', 'czwartek', 1.0, 'sztuka', 'szt.', 'liczba sztuk', 1.0, 7.0, 'centralny', 'Mazowieckie', 3.0, 'zeszyt w kratkę 40 kartek', 'liczbowa', 'liczba zeszytow w kratkę 40 kartek')
(930819.0, 7.0, 3.0, 1.0, 876.0, 930819.0, '1993', '08', 'sierpień', '3', 'Kwartał III', '19', '0', '5', 'czwartek', 1.0, 'sztuka', 'szt.', 'liczba sztuk', 1.0, 7.0, 'centralny', 'Mazowieckie', 3.0, 'zeszyt w kratkę 40 kartek', 'liczbowa', 'liczba zeszytow w kratkę 40 kartek')
(930822.0, 2.0, 3.0, 1.0, 880.0, 930822.0, '1993', '08', 'sierpień', '3', 'Kwartał III', '22', '1', '1', 'niedziela', 1.0, 'sztuka', 'szt.', 'liczba sztuk', 1.0, 2.0, 'północny', 'Kujawsko-Pomorskie', 3.0, 'zeszyt w kratkę 40 kartek', 'liczbowa', 'liczba zeszytow w kratkę 40 kartek')
(930824.0, 1.0, 3.0, 1.0, 29.0, 930824.0, '1993', '08', 'sierpień', '3', 'Kwartał III', '24', '0', '3', 'wtorek', 1.0, 'sztuka', 'szt.', 'liczba sztuk', 1.0, 1.0, 'południowo - zachodni', 'Dolnośląskie', 3.0, 'zeszyt w kratkę 40 kartek', 'liczbowa', 'liczba zeszytow w kratkę 40 kartek')
(930824.0, 10.0, 3.0, 1.0, 935.0, 930824.0, '1993', '08', 'sierpień', '3', 'Kwartał III', '24', '0', '3', 'wtorek', 1.0, 'sztuka', 'szt.', 'liczba sztuk', 1.0, 10.0, 'wschodni', 'Podlaskie', 3.0, 'zeszyt w kratkę 40 kartek', 'liczbowa', 'liczba zeszytow w kratkę 40 kartek')

In [29]:
import pandas as pd
df=pd.read_sql("select top 10 * from Baza$", con=polaczenie)
df.head()

,ID_CZAS_FK,ID_MIEJSCE_FK,ID_ZMIENNA_FK,ID_JEDNOSTKA_MIARY_FK,WARTOSC,id_czas_pk,rok,miesiac,miesiac_nazwa,kwartal,...,symbol_jednostki_miary,opis_jednostki_miary,mnoznik_jednostki_miary,id_miejsce_pk,region,wojewodztwo,id_zmienna_pk,nazwa_zmiennej,rodzaj_zmiennej,opis
0,930819.0,7.0,3.0,1.0,43.0,930819.0,1993,08,sierpień,3,...,szt.,liczba sztuk,1.0,7.0,centralny,Mazowieckie,3.0,zeszyt w kratkę 40 kartek,liczbowa,liczba zeszytow w kratkę 40 kartek
1,930819.0,7.0,3.0,1.0,876.0,930819.0,1993,08,sierpień,3,...,szt.,liczba sztuk,1.0,7.0,centralny,Mazowieckie,3.0,zeszyt w kratkę 40 kartek,liczbowa,liczba zeszytow w kratkę 40 kartek
2,930822.0,2.0,3.0,1.0,880.0,930822.0,1993,08,sierpień,3,...,szt.,liczba sztuk,1.0,2.0,północny,Kujawsko-Pomorskie,3.0,zeszyt w kratkę 40 kartek,liczbowa,liczba zeszytow w kratkę 40 kartek
3,930824.0,1.0,3.0,1.0,29.0,930824.0,1993,08,sierpień,3,...,szt.,liczba sztuk,1.0,1.0,południowo - zachodni,Dolnośląskie,3.0,zeszyt w kratkę 40 kartek,liczbowa,liczba zeszytow w kratkę 40 kartek
4,930824.0,10.0,3.0,1.0,935.0,930824.0,1993,08,sierpień,3,...,szt.,liczba sztuk,1.0,10.0,wschodni,Podlaskie,3.0,zeszyt w kratkę 40 kartek,liczbowa,liczba zeszytow w kratkę 40 kartek

In [ ]:
kursor.execute('drop table prac_260711')

In [ ]:
kursor.execute("create table prac_260711(id int identity(1,1) primary key,"+
              "nazwisko varchar(50))")

In [31]:
polaczenie.commit()

In [32]:
# 2. Przygotuj skrypt w języku Python do pobierania informacji o pracownikach Wydziału Zarządzania.
import requests

r=requests.get("https://wzr.ug.edu.pl/wydzial/index.php?str=121")
from bs4 import BeautifulSoup
tagi=BeautifulSoup(r.text, 'html.parser')
nazwiska=tagi.findAll('div', attrs={'class':'pracownik_b'})
for nazwisko in nazwiska:
    print(nazwisko.text.strip())

dr Alicja Antonowicz
dr hab. Paweł Antonowicz, prof. uczelni
dr Nelli Artienwicz
dr hab. Jerzy Auksztol, prof. uczelni
dr Sylwia Badowska
dr Dorota Banaszkiewicz
mgr Wojciech Barczewski
dr Adam Barembruch
dr hab. Robert Bęben, prof. uczelni
dr Sylwia Białas
dr Kamila Bielawska
dr Agata Borowska-Pietrzak
dr Dorota Buchnowska
dr Grzegorz Bucior
dr Kevin Campbell
dr Michał Chalastra
dr Mariusz Chmielewski
mgr Ewa Chrostowska
mgr Marta Chylińska
dr hab. Dorota Ciołek, prof. uczelni
dr Mirosław Czapiewski
dr Marzenna Czerwińska
dr hab. Halina Czubasiewicz, prof. uczelni
mgr Liwia Delińska
mgr Kamila Demska
dr Emilia Dobrowolska
dr Tomasz Dryl
dr Wioleta Dryl
dr Anna Dziadkiewicz
dr Andrzej Dżuryk
dr Bartłomiej Gabriel
dr Paweł Galiński
dr hab. Bartłomiej Gawin, prof. uczelni
dr Anna Gierusz
prof. dr hab. Jerzy Gierusz
dr Maciej Gierusz
dr Juliusz Giżyński
dr hab. Wiesław Golnau, prof. uczelni
dr Magdalena Gostkowska-Drzewicka
dr Karolina Gościniak
prof. dr hab. Piotr Grajewski
dr Maciej Hyży
dr hab. Beata Jackowska, prof. uczelni
mgr Tomasz Jastrzębski
dr inż. Przemysław Jatkiewicz
dr Dorota Jendza
prof. dr hab. Magdalena Jerzemowska
dr Tomasz Jurkiewicz
dr Patryk Kaczmarek
dr Marek Kalinowski
dr Anna Kamińska-Stańczak
dr hab. Tomasz Kawka, prof. uczelni
dr hab. Angelika Kędzierska-Szczepaniak, prof. uczelni
dr Urszula Kęprowska
dr Katarzyna Koleśnik
dr Olga Komorowska
dr hab. Julia Koralun-Bereźnicka, prof. uczelni
dr inż. Aleksandra Koszarek-Cyra
mgr Beata Kotowska
dr Cyryl Kotyla
dr Dorota Kowalczyk
dr Krzysztof Kowalke
mgr Rafał Kowalski
dr Arkadiusz Kozłowski
dr Wojciech Kozłowski
dr Dariusz Kralewski
mgr Rafał Kramer
mgr Zuzanna Kraus
mgr Patrycja Krauze-Maślankowska
dr Krzysztof Krzywdziński
mgr Barbara Kubica-Daniel
dr hab. Michał Kuciapski, prof. uczelni
dr Sylwia Kuczamer-Kłopotowska
dr Sławomir Kujawa
dr Jarosław Kujawski
dr Lech Kujawski
dr hab. Przemysław Lech, prof. uczelni
dr Anna Lenart
dr Błażej Lepczyński
dr Joanna Litwin
mgr Marzena Ławniczak
dr Wojciech Machel
dr hab. Ewa Majerowska, prof. uczelni
mgr Agata Majkowska
dr inż. Ewa Malinowska
dr hab. Bartosz Marcinkowski, prof. uczelni
dr Marek Markowski
dr Olga Martyniuk
dr Jacek Maślankowski
dr Monika Mazurowska
dr hab. Kamila Migdał-Najman, prof. uczelni
prof. dr hab. Paweł Miłobędzki
mgr Anna Młynkowiak-Stawarz
dr hab. Krzysztof Najman, prof. uczelni
dr Ewelina Nawrocka
mgr Katarzyna Niklas
dr Paulina Nogal
dr Sabina Nowak
dr Marek Ossowski
prof. dr hab. Elżbieta Ostrowska
dr hab. Leszek Pawłowicz, prof. uczelni
dr Marta Penczar
mgr Grzegorz Piotrowski
dr Piotr Pisarewicz
mgr Teresa Plenikowska-Ślusarz
dr Renata Płoska
dr Agnieszka Pobłocka
mgr Piotr Porzuczek
dr Joanna Próchniak
mgr Katarzyna Raca
dr Sławomir Radomski
dr Marek Rutka
prof. dr hab. Jacek Rybicki
dr Małgorzata Rymarzak
dr Joanna Sadkowska
dr Jędrzej Siciński
dr Anna Siemionek
dr Małgorzata Siemionek-Ruskań
mgr Marta Sikorska
dr Sylwia Silska-Gembka
dr inż. Piotr Sliż
dr hab. Ewelina Sokołowska, prof. uczelni
dr Ewa Spigarska
dr Kamila Stańczak-Strumiłło
mgr Vacat Statystyka
dr Nina Stepanok
dr Jędrzej Strumiłło
dr Sebastian Susmarski
mgr Piotr Sycz
dr hab. Arleta Szadziewska, prof. uczelni
dr Krzysztof Szczepaniak
dr Grzegorz Szczodrowski
prof. dr hab. Agnieszka Szpitter
dr Dawid Szramowski
prof. dr hab. Mirosław Szreder
dr Małgorzata Szymańska-Brałkowska
dr Karol Śledzik
mgr Dorota Taubwurcel
dr hab. Dariusz Trojanowski, prof. uczelni
dr hab. Piotr Walentynowicz, prof. uczelni
dr hab. Jarosław Waśniewski, prof. uczelni
dr Katarzyna Welzant
dr Dariusz Wieczorek
dr Beata Wierzbicka
prof. dr hab. Małgorzata Wiśniewska
dr hab. Anna Wojewnik-Filipkowska, prof. uczelni
dr hab. Elżbieta Wojnicka-Sycz, prof. uczelni
dr Monika Woźniak
dr hab. Piotr Wróbel, prof. uczelni
prof. dr hab. Stanisław Wrycza
dr hab. Ewa Wycinka, prof. uczelni
dr Beata Zackiewicz-Brunke
dr hab. Anna Zamojska, prof. uczelni
mgr Piotr Zieliński
dr Aleksandra Żurawik

In [ ]:
# 3. Zapisz wyniki w:
# - pliku CSV,
# - bazie danych,
# - JSON.

plikCSV=open("plik260711.csv","w")
plikJSON=open("plik260711.json","w")
plikJSON.write('[')
for nazwisko in nazwiska:
    plikCSV.write(nazwisko.text.strip()+"\n")
    plikJSON.write("{'nazwisko':"+nazwisko.text.strip()+"'},")
    kursor.execute("insert into prac_260711 values ('"
                   +nazwisko.text.strip()[:40]+"')")
    polaczenie.commit()
plikJSON.write(']')    
print("zapisano dane w csv, json, sql")

In [34]:
plikJSON.close()
plikCSV.close()

In [ ]:
df=pd.read_sql("select * from prac_260711", con=polaczenie)

In [ ]:
df.tail(5)